.player {
  background-color: #fff;
  align-items: center;
}

.scenebutton {
  width: 400px;
  height: 75px;
  margin-bottom: 5px;
  font-size: 30px;
  text-transform: uppercase;
}

.timer {
  padding:40px;
  font-size: 10em;
}

.disabled-button {
  background-color: rgb(110, 150, 170)!important;
  color: #fff;
}

.header {
  background-color: #ff4081;
  color: #fff;
}

.header-title {
  font-size: 20px;
}

.mdl-center {
  text-align: center;
}

.player-data {
  background-color: #e8e8e8;
}

.mdl-radio {
  font-size: 14px;
  padding-right: 15px;
}

.ready {
  background: rgb(139,195,74);
}

.ready h4 {
  color: rgb(66,66,66);
}

.mdl-table-cell {
  display: table-cell;
  text-align: center;
}

.mdl-table {
  display: table;
}

.mdl-switch-custom {
  margin-left: 25px;
}

.mdl-chip__text {
  font-size: 20px;
}

.game-state-ready {
  background-color: rgb(139,195,74);
}

.game-state-ingame {
  background-color: rgb(255,82,82);
}

.reset-button {
  margin-top: 200px;
}

.mdl-button--reset {
  background-color: rgb(255,82,82);
  color: #fff;
}