.header-title {
  font-size: 20px;
}

.reset-button {
  margin-top: 2000px;
}

.mdl-button--reset {
  background-color: rgb(255,82,82)!important;
  color: #fff;
}

/* Custom overrides */
.mdl-chip__text {
  font-size: 17px;
}

.mdl-radio {
  font-size: 14px;
  padding-right: 15px;
}

/* Ready switch */
.ready-switch-table-cell {
  display: table-cell;
  text-align: center;
}

.ready-switch-table {
  display: table;
}

.ready-switch-margin {
  margin-left: 25px;
}

/* Layout */
.header {
  background-color: #635274;
  color: #fff;
}

#timer {
  font-size: 3em;
}

.align-items-center {
  align-items: center;
}

/* Backgrounds */
.bg-color-red {
  background-color: rgb(255,82,82);
}

.bg-color-green {
  background-color: rgb(139,195,74);
}

.bg-color-gray {
	background-color: #757575;
}

.bg-color-gray-light {
  background-color: #e8e8e8;
}

.bg-color-purple {
  background-color: #635274;
}

.bg-color-purple-light {
  background-color: rgba(99, 82, 116, 0.25);
}

/* Buttons */
.button-chip-disabled {
  background-color: #dedede;
}

.button-large {
  width: 400px;
  height: 75px;
  margin-bottom: 5px;
  font-size: 30px;
  text-transform: uppercase;
}

/* Text */
.text-align-center {
  text-align: center;
}

.text-large {
  font-size: 2em;
}