.player {
  background-color: gray;
}

.scenebutton {
  width: 200px;
  height:50px;
  margin-bottom: 5px;
}

.timer {
  padding:40px;
  font-size: 10em;
}

.start-end-button {
  background-color: rgb(96, 125, 139);
  color: #fff;
}
