<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <title>Museum of Sex - VR - Guest</title>

    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/dialog-polyfill.css">
    <link rel="stylesheet" href="./css/icon.css?family=Material+Icons">

    <script src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/dialog-polyfill.js"></script>
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Connect to socket
      //var socket = io('http://192.168.1.212:4000');
      //var ip = 'http://192.168.1.212:4000';
      var socket = io('localhost:4000');
      var ip = 'http://localhost:4000';
      socket.on('hello', function (data) {
        console.log(data);
      });

      // refresh page
      $( "#refresh" ).click(function() {
        console.log("refresh");
        location.reload();
      });

      var heightmap = [
        {
          key: "5’0” (152 cm)",
          value: 152.40
        },
        {
          key: "5’1” (156 cm)",
          value: 154.94
        },
        {
          key: "5’2” (157 cm)",
          value:  157.48
        },
        {
          key: "5’3” (160 cm)",
          value:  160.02
        },
        {
          key: "5’4” (162 cm)",
          value:  162.56
        },
        {
          key: "5’5” (165 cm)",
          value: 	165.10
        },
        {
          key: "5’6” (168 cm)",
          value: 167.74
        },
        {
          key: "5’7” (170 cm)",
          value: 	170.18
        },
        {
          key: "5’8” (173 cm)",
          value: 	172.72
        },
        {
          key: "5’9” (175 cm)",
          value: 175.26
        },
        {
          key: "5’10” (178 cm)",
          value: 177.80
        },
        {
          key: "5’11” (180 cm)",
          value: 180.34
        },
        {
          key: "6’0” (183 cm)",
          value: 182.88
        },
        {
          key: "6’1” (185 cm)",
          value: 185.45
        },
        {
          key: "6’2” (188 cm)",
          value: 187.96
        },
        {
          key: "6’3” (190 cm)",
          value: 190.50
        },
        {
          key: "6’4” (193 cm)",
          value: 193.04
        },
        {
          key: "6’5” (195 cm)",
          value: 195.58
        },
        {
          key: "6’6” (198 cm)",
          value: 198.12
        },
        {
          key: "6’7” (200 cm)",
          value: 200.66
        },
        {
          key: "6’8” (203 cm)",
          value: 	203.20
        },
        {
          key: "6’9” (206 cm)",
          value: 	205.74
        },
        {
          key: "6’10” (208 cm)",
          value: 208.28
        }
      ];
     
      function populate(selector,key,value) {
        $(selector)
          .append('<option value="'+ value +'">'+ key + '</option>');
      }

      $(document).ready(function() {
        /* Player heights */
        heightmap.forEach(function(item) {
          populate('#player1',item.key,item.value);
          populate('#player2',item.key,item.value);
          populate('#player3',item.key,item.value);
          populate('#player4',item.key,item.value);
          populate('#player5',item.key,item.value);
        });

        /* Update player heights */
        $('#player1').on('change', function() {
          var height = this.value;
          $.ajax({
            url: '/setheight',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 0,
                "height" : parseFloat(height)
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];
            var player1h

            // get player heights in feet and inches
            heightmap.forEach(function(item) {
              if(item.value == playerData[0].height) {
                player1h = item.key;
              }            
            });

            // display player heights from JSON file
            $( '#player1-height' ).text(player1h);
          });
        });
        $('#player2').on('change', function() {
          var height = this.value;
          $.ajax({
            url: '/setheight',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 1,
                "height" : parseFloat(height)
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];
            var player2h

            // get player heights in feet and inches
            heightmap.forEach(function(item) {
              if(item.value == playerData[1].height) {
                player2h = item.key;
              }            
            });

            // display player heights from JSON file
            $( '#player2-height' ).text(player2h);
          });
        });
        $('#player3').on('change', function() {
          var height = this.value;
          $.ajax({
            url: '/setheight',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 2,
                "height" : parseFloat(height)
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];
            var player3h

            // get player heights in feet and inches
            heightmap.forEach(function(item) {
              if(item.value == playerData[2].height) {
                player3h = item.key;
              }            
            });

            // display player heights from JSON file
            $( '#player3-height' ).text(player3h);
          });
        });
        $('#player4').on('change', function() {
          var height = this.value;
          $.ajax({
            url: '/setheight',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 3,
                "height" : parseFloat(height)
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];
            var player4h

            // get player heights in feet and inches
            heightmap.forEach(function(item) {
              if(item.value == playerData[3].height) {
                player4h = item.key;
              }            
            });

            // display player heights from JSON file
            $( '#player4-height' ).text(player4h);
          });
        });

        /* Update player names */
        $('#player1-name-submit').on('click', function() {
          var name = $("#player1-name-text").val();
          $.ajax({
            url: '/setname',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 0,
                "name" : name
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            // display player heights from JSON file
            $( '#player1-name' ).text(playerData[0].name);
          });
          return false;
        });
        $('#player2-name-submit').on('click', function() {
          var name = $("#player2-name-text").val();
          $.ajax({
            url: '/setname',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 1,
                "name" : name
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            // display player heights from JSON file
            $( '#player2-name' ).text(playerData[1].name);
          });
          return false;
        });
        $('#player3-name-submit').on('click', function() {
          var name = $("#player3-name-text").val();
          $.ajax({
            url: '/setname',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 2,
                "name" : name
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            // display player heights from JSON file
            $( '#player3-name' ).text(playerData[2].name);
          });
          return false;
        });
        $('#player4-name-submit').on('click', function() {
          var name = $("#player4-name-text").val();
          $.ajax({
            url: '/setname',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
              {
                "player" : 3,
                "name" : name
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            // display player heights from JSON file
            $( '#player4-name' ).text(playerData[3].name);
          });
          return false;
        });

        /* Update player ison */
        $('#switch-1').change(function(){
          var isPlayeron = false;
          if($(this).is(':checked')) {
            isPlayeron = true;
          }
          $.ajax({
            url: '/config',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            //data : JSON.stringify(data),
            data: JSON.stringify(
              {
                "player" : 0,
                "ison" : isPlayeron
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
                // Do something with the result
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            if(playerData[0].ison == true) {
              $( '#player1-ison' ).text("ON");
            } else {
              $( '#player1-ison' ).text("OFF");
            }
          });
          return false;
        });
        $('#switch-2').change(function(){
          var isPlayeron = false;
          if($(this).is(':checked')) {
            isPlayeron = true;
          }
          $.ajax({
            url: '/config',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            //data : JSON.stringify(data),
            data: JSON.stringify(
              {
                "player" : 1,
                "ison" : isPlayeron
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
                // Do something with the result
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            if(playerData[1].ison == true) {
              $( '#player2-ison' ).text("ON");
            } else {
              $( '#player2-ison' ).text("OFF");
            }
          });
          return false;
        });
        $('#switch-3').change(function(){
          var isPlayeron = false;
          if($(this).is(':checked')) {
            isPlayeron = true;
          }
          $.ajax({
            url: '/config',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            //data : JSON.stringify(data),
            data: JSON.stringify(
              {
                "player" : 2,
                "ison" : isPlayeron
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
                // Do something with the result
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            if(playerData[2].ison == true) {
              $( '#player3-ison' ).text("ON");
            } else {
              $( '#player3-ison' ).text("OFF");
            }
          });
          return false;
        });
        $('#switch-4').change(function(){
          var isPlayeron = false;
          if($(this).is(':checked')) {
            isPlayeron = true;
          }
          $.ajax({
            url: '/config',
            type: 'POST',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            //data : JSON.stringify(data),
            data: JSON.stringify(
              {
                "player" : 3,
                "ison" : isPlayeron
              }
            ), // data as js object
            success: function(result) {
                console.log("ok " + result)
                // Do something with the result
            }
          });

          // update data view value
          $.getJSON( ip + '/config' , function( data ) {
            var playerData = data["PLAYERS"];

            if(playerData[3].ison == true) {
              $( '#player4-ison' ).text("ON");
            } else {
              $( '#player4-ison' ).text("OFF");
            }
          });
          return false;
        });

        /* Display server data on page load */
        $.getJSON( "http://localhost:4000/config", function( data ) {
          var playerData = data["PLAYERS"];
          var player1h, player2h, player3h, player4h;

          // get player heights in feet and inches
          heightmap.forEach(function(item) {
            if(item.value == playerData[0].height) {
              player1h = item.key;
            }
            if(item.value == playerData[1].height) {
              player2h = item.key;
            }
            if(item.value == playerData[2].height) {
              player3h = item.key;
            }
            if(item.value == playerData[3].height) {
              player4h = item.key;
            }            
          });

          // display player heights from JSON file
          $( '#player1-height' ).append(player1h);
          $( '#player2-height' ).append(player2h);
          $( '#player3-height' ).append(player3h);
          $( '#player4-height' ).append(player4h);

          // display player names from JSON file
          $( '#player1-name' ).append(playerData[0].name);
          $( '#player2-name' ).append(playerData[1].name);
          $( '#player3-name' ).append(playerData[2].name);
          $( '#player4-name' ).append(playerData[3].name);

          // diplay player ison from JSON file
          if(playerData[0].ison == true) {
            $( '#player1-ison' ).append("ON");
          } else {
            $( '#player1-ison' ).append("OFF");
          }
          if(playerData[1].ison == true) {
            $( '#player2-ison' ).append("ON");
          } else {
            $( '#player2-ison' ).append("OFF");
          }
          if(playerData[2].ison == true) {
            $( '#player3-ison' ).append("ON");
          } else {
            $( '#player3-ison' ).append("OFF");
          }
          if(playerData[3].ison == true) {
            $( '#player4-ison' ).append("ON");
          } else {
            $( '#player4-ison' ).append("OFF");
          }
        });
      });
    </script>

    <!-- HEADER -->
    <div class="mdl-grid header">
      <div class="mdl-cell mdl-cell--1-col guest-player">
        <b>Player #</b>
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <b>On/Off</b>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <b>Name</b>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <b>Height</b>
      </div>
    </div>
    <!-- END HEADER -->

    <!-- PLAYER 1 -->
    <div class="mdl-grid player">
      <div class="mdl-cell mdl-cell--1-col guest-player">
        1
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
          <input type="checkbox" id="switch-1" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <input type="text" name="name" id="player1-name-text">
        <button id="player1-name-submit">
          Enter
        </button>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <select class="mdl-selectfield__select" id="player1" name="player1">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="mdl-grid player player-data">
      <div class="mdl-cell mdl-cell--1-col">
      </div>
      <div class="mdl-cell mdl-cell--1-col" id="player1-ison">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player1-name">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player1-height">
      </div>
    </div>
    <!-- END PLAYER -->

    <!-- PLAYER 2 -->
    <div class="mdl-grid player">
      <div class="mdl-cell mdl-cell--1-col guest-player">
        2
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
          <input type="checkbox" id="switch-2" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <input type="text" name="name" id="player2-name-text">
        <button id="player2-name-submit">
          Enter
        </button>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <select class="mdl-selectfield__select" id="player2" name="player2">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="mdl-grid player player-data">
      <div class="mdl-cell mdl-cell--1-col">
      </div>
      <div class="mdl-cell mdl-cell--1-col" id="player2-ison">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player2-name">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player2-height">
      </div>
    </div>
    <!-- END PLAYER -->

    <!-- PLAYER 3-->
    <div class="mdl-grid player">
      <div class="mdl-cell mdl-cell--1-col guest-player">
        3
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
          <input type="checkbox" id="switch-3" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <input type="text" name="name" id="player3-name-text">
        <button id="player3-name-submit">
          Enter
        </button>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <select class="mdl-selectfield__select" id="player3" name="player3">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="mdl-grid player player-data">
      <div class="mdl-cell mdl-cell--1-col">
      </div>
      <div class="mdl-cell mdl-cell--1-col" id="player3-ison">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player3-name">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player3-height">
      </div>
    </div>
    <!-- END PLAYER -->

    <!-- PLAYER 4-->
    <div class="mdl-grid player">
      <div class="mdl-cell mdl-cell--1-col guest-player">
        4
      </div>
      <div class="mdl-cell mdl-cell--1-col">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-4">
          <input type="checkbox" id="switch-4" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <input type="text" name="name" id="player4-name-text">
        <button id="player4-name-submit">
          Enter
        </button>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <select class="mdl-selectfield__select" id="player4" name="player4">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="mdl-grid player player-data">
      <div class="mdl-cell mdl-cell--1-col">
      </div>
      <div class="mdl-cell mdl-cell--1-col" id="player4-ison">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player4-name">
      </div>
      <div class="mdl-cell mdl-cell--3-col" id="player4-height">
      </div>
    </div>
    <!-- END PLAYER -->

    <br>

    <button id="refresh" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent scenebutton">
      Submit
    </button>
  </body>
</html>