<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <title>Index - Museum of Sex - VR</title>

    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/dialog-polyfill.css">
    <link rel="stylesheet" href="./css/icon.css?family=Material+Icons">

    <script src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/dialog-polyfill.js"></script>
  </head>
  <body>
    <div class="mdl-grid header">
      <div class="mdl-cell mdl-cell--12-col text-align-center">
        <h1>Museum of Sex</h1>
        <h3>Virtual Reality</h3>
      </div>
    </div>
    <div class="mdl-grid text-align-center bg-color-gray-light">
      <div class="mdl-cell mdl-cell--12-col text-align-center">
        <a href="/guest">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored button-large">
            Guest
          </button>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--12-col text-align-center">
        <b>Player entry page</b><br>
        Player names, heights, and genders   
      </div>
    </div>
    <div class="mdl-grid text-align-center">
      <div class="mdl-cell mdl-cell--12-col text-align-center">
        <a href="/gameplay">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored button-large">
            Gameplay
          </button>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--12-col text-align-center">
        <b>Gameplay control panel</b><br>
        VR experience only
      </div>
    </div>
    <div class="mdl-grid text-align-center bg-color-gray-light">
      <div class="mdl-cell mdl-cell--12-col text-align-center">
        <a href="/qa">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored button-large">
            QA
          </button>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--12-col text-align-center">
        <b>Troubleshooting</b><br>
        All hardware and software functionalities
      </div>
    </div>
  </body>
</html>