<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <title>Index - Museum of Sex - VR</title>

    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/dialog-polyfill.css">
    <link rel="stylesheet" href="./css/icon.css?family=Material+Icons">

    <script src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/dialog-polyfill.js"></script>
  </head>
  <body>
    <div class="mdl-grid mdl-center">
      <div class="mdl-cell mdl-cell--12-col mdl-center">
        <a href="/guest">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent scenebutton">
            Guest
          </button>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-center">
        <a href="/gameplay">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent scenebutton">
            Gameplay
          </button>
        </a>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-center">
        <a href="/qa">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent scenebutton">
            QA
          </button>
        </a>
      </div>
    </div>
  </body>
</html>