<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <title>QA - Museum of Sex - VR</title>

    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/dialog-polyfill.css">
    <link rel="stylesheet" href="./css/icon.css?family=Material+Icons">

    <script src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/dialog-polyfill.js"></script>
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      /* Connect to socket */
      var socket = io('http://192.168.1.212:4000');
      var ip = 'http://192.168.1.212:4000';
      //var socket = io('localhost:4000');
      //var ip = 'http://localhost:4000';
      socket.on('hello', function (data) {
        console.log(data);
      });

      $(document).ready(function() {
        // Button click feedback
        $("button").click(function() {
          $('.button-transform').toggleClass('button-transform-active');
        });

        /* Dildo controls */
        // Player 1
        $( "#player1-dildon" ).click(function() {
          socket.emit('dildon', { set: 'dildon', player: 'player1vib' });
        });

        $( "#player1-surf" ).click(function() {
          socket.emit('dildon', { set: 'surf', player: 'player1vib' });
        });

        $( "#player1-pingpong" ).click(function() {
          socket.emit('dildon', { set: 'pingpong', player: 'player1vib' });
        });

        $( "#player1-tide" ).click(function() {
          socket.emit('dildon', { set: 'tide', player: 'player1vib' });
        });

        $( "#player1-wave" ).click(function() {
          socket.emit('dildon', { set: 'wave', player: 'player1vib' });
        });

        $( "#player1-dildoff" ).click(function() {
          socket.emit('dildoff', { set: 'dildoff', player: 'player1vib' });
        });

        $( "#player1-connectvib" ).click(function() {
          socket.emit('connectvib', { set: 'connect', player: 'player1vib' });
        });

        // Player 2
        $( "#player2-dildon" ).click(function() {
          socket.emit('dildon', { set: 'dildon', player: 'player2vib' });
        });

        $( "#player2-surf" ).click(function() {
          socket.emit('dildon', { set: 'surf', player: 'player2vib' });
        });

        $( "#player2-pingpong" ).click(function() {
          socket.emit('dildon', { set: 'pingpong', player: 'player2vib' });
        });

        $( "#player2-tide" ).click(function() {
          socket.emit('dildon', { set: 'tide', player: 'player2vib' });
        });

        $( "#player2-wave" ).click(function() {
          socket.emit('dildon', { set: 'wave', player: 'player2vib' });
        });

        $( "#player2-dildoff" ).click(function() {
          socket.emit('dildoff', { set: 'dildoff', player: 'player2vib' });
        });

        $( "#player2-connectvib" ).click(function() {
          socket.emit('connectvib', { set: 'connect', player: 'player2vib' });
        });

        // Player 3
        $( "#player3-dildon" ).click(function() {
          socket.emit('dildon', { set: 'dildon', player: 'player3vib' });
        });

        $( "#player3-surf" ).click(function() {
          socket.emit('dildon', { set: 'surf', player: 'player3vib' });
        });

        $( "#player3-pingpong" ).click(function() {
          socket.emit('dildon', { set: 'pingpong', player: 'player3vib' });
        });

        $( "#player3-tide" ).click(function() {
          socket.emit('dildon', { set: 'tide', player: 'player3vib' });
        });

        $( "#player3-wave" ).click(function() {
          socket.emit('dildon', { set: 'wave', player: 'player3vib' });
        });

        $( "#player3-dildoff" ).click(function() {
          socket.emit('dildoff', { set: 'dildoff', player: 'player3vib' });
        });

        $( "#player3-connectvib" ).click(function() {
          socket.emit('connectvib', { set: 'connect', player: 'player3vib' });
        });

        // Player 4
        $( "#player4-dildon" ).click(function() {
          socket.emit('dildon', { set: 'dildon', player: 'player4vib' });
        });

        $( "#player4-surf" ).click(function() {
          socket.emit('dildon', { set: 'surf', player: 'player4vib' });
        });

        $( "#player4-pingpong" ).click(function() {
          socket.emit('dildon', { set: 'pingpong', player: 'player4vib' });
        });

        $( "#player4-tide" ).click(function() {
          socket.emit('dildon', { set: 'tide', player: 'player4vib' });
        });

        $( "#player4-wave" ).click(function() {
          socket.emit('dildon', { set: 'wave', player: 'player4vib' });
        });

        $( "#player4-dildoff" ).click(function() {
          socket.emit('dildoff', { set: 'dildoff', player: 'player4vib' });
        });

        $( "#player4-connectvib" ).click(function() {
          socket.emit('connectvib', { set: 'connect', player: 'player4vib' });
        });

        /* Elevators */
        $( "#rotate-all" ).click(function() {
          console.log('rotate all');
          socket.emit('rotateAll', { my: 'data' });
        });

        $( "#rotate-one" ).click(function() {
          console.log('rotate one');
          socket.emit('rotateOne', { my: 'data' });
        });
        
        $( "#rotate-two" ).click(function() {
          console.log('rotate two');
          socket.emit('rotateTwo', { my: 'data' });
        });
        
        $( "#rotate-three" ).click(function() {
          console.log('rotate three');
          socket.emit('rotateThree', { my: 'data' });
        });
        
        $( "#rotate-four" ).click(function() {
          console.log('rotate four');
          socket.emit('rotateFour', { my: 'data' });
        });
        
        $( "#rotate-stop" ).click(function() {
          console.log('stop rotate');
          socket.emit('rotateStop', { my: 'data' });
        });
        
        $( "#rotate-start" ).click(function() {
          console.log('start rotate');
          socket.emit('rotateStart', { my: 'data' });
        });
      });
    </script>

    <!-- VIBRATORS -->
    <div class="mdl-grid bg-color-gray-light">
      <div class="mdl-cell mdl-cell--12-col">
        <b>Vibrators</b>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        Player 1
      </div>
      <!-- PLAYER 1 -->
      <div class="mdl-cell mdl-cell--12-col">
        <button id="player1-dildon" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDON
        </button>

        <button id="player1-wave" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          WAVE
        </button>

        <button id="player1-surf" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          SURF
        </button>

        <button id="player1-tide" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          TIDE
        </button>

        <button id="player1-pingpong" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          PING PONG
        </button>

        <button id="player1-dildoff" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDOFF
        </button>

        <button id="player1-connectvib" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          CONNECT
        </button>
      </div>
      <!-- END PLAYER 1 -->
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        Player 2
      </div>
      <!-- PLAYER 2 -->
      <div class="mdl-cell mdl-cell--12-col">
        <button id="player2-dildon" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDON
        </button>

        <button id="player2-wave" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          WAVE
        </button>

        <button id="player2-surf" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          SURF
        </button>

        <button id="player2-tide" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          TIDE
        </button>

        <button id="player2-pingpong" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          PING PONG
        </button>

        <button id="player2-dildoff" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDOFF
        </button>

        <button id="player2-connectvib" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          CONNECT
        </button>
      </div>
      <!-- END PLAYER 2 -->
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        Player 3
      </div>
      <!-- PLAYER 3 -->
      <div class="mdl-cell mdl-cell--12-col">
        <button id="player3-dildon" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDON
        </button>

        <button id="player3-wave" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          WAVE
        </button>

        <button id="player3-surf" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          SURF
        </button>

        <button id="player3-tide" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          TIDE
        </button>

        <button id="player3-pingpong" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          PING PONG
        </button>

        <button id="player3-dildoff" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDOFF
        </button>

        <button id="player3-connectvib" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          CONNECT
        </button>
      </div>
      <!-- END PLAYER 3 -->
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        Player 4
      </div>
      <!-- PLAYER 4 -->
      <div class="mdl-cell mdl-cell--12-col">
        <button id="player4-dildon" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDON
        </button>

        <button id="player4-wave" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          WAVE
        </button>

        <button id="player4-surf" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          SURF
        </button>

        <button id="player4-tide" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          TIDE
        </button>

        <button id="player4-pingpong" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          PING PONG
        </button>

        <button id="player4-dildoff" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          DILDOFF
        </button>

        <button id="player4-connectvib" class="mdl-button button-transform mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          CONNECT
        </button>
      </div>
      <!-- PLAYER 4 -->
    </div>
    <!-- END VIBRATORS -->
  </body>
</html>
